mcu-python/
comparation.py
comparation*.py
*.txt
txt_files/
.DS_Store
.DS_Store/
.DS_Store/*
__pycache__/
dist/
build/
*.egg-info/
pyproject.toml
setup.py
color_test.py
*.json
cpp/
*.ts
typescript/
typescript*/
*cpp_version*.py
*spec*.py
rename*.sh